/** Code **/

$text-color: #444;
$tooltip-bg: #3498db;
$brand-success: #2ecc71;
$brand-danger: #e74c3c;
$clouds: #ecf0f1;
$light-gray: #bdc3c7;
$peter-river: #3498db;
$btn-default-bg: $clouds;

.codeplayer {
  position: relative;
  background-color: #fff;
  min-width: 100px;
  z-index: 2;

  .CodeMirror {
    font-size: 12px;
    line-height: 18px;
    background: #fefefe;
    padding: 0;
    min-height: 200px;
  }

  .CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
  }

  pre.code.CodeMirror {
    height: auto;
  }

  .CodeMirror-gutters {
    border-right: 1px solid $clouds;
  }

  &.idle {
    min-width: 0;
  }

  pre.code {
    display: none;
  }

  .codeplayer-roadmap {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: stretch;
    -webkit-align-content: stretch;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    list-style: none;
    font-size: 12px;
    position: relative;
    border-left: solid 1px $clouds;
    border-right: solid 1px $clouds;
    padding: 0;
    margin: 2em 0 0;
    counter-reset: my-badass-counter;

    &:before, &:after, .step:before, .step:after  {
      font-family: FontAwesome;
      text-align: center;
      color: $light-gray;
      position: absolute;
      top: -13px;
      right: -15px;
      font-size: 18px;
      width: 28px;
      height: 29px;
      padding: 5px 4px;
      line-height: 19px;
      background-color: white;
      border: solid 1px $light-gray;
      border-radius: 50%;
      z-index: 20;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: scale(1);
      transform: scale(1);
      transition: all 1s ease;
    }

    &:before, &:after {
      content: "\f005";
    }

    &:after {
      color: $brand-success;
      border-color: $brand-success;
      -webkit-transform: rotateX(1170deg);
      transform: rotateX(1170deg);
    }

    .step:before, .step:after {
      top: -17px;
      left: -15px;
      right: auto;
    }
    .step:before {
      font: 16px sans-serif;
      content: counter(my-badass-counter);
      counter-increment: my-badass-counter;
    }
    .step:after {
      content: "\f00c";
      color: $brand-success;
      border-color: $brand-success;
      -webkit-transform: rotateX(1170deg);
      transform: rotateX(1170deg);
    }

    .step.active:before {
      color: $brand-danger;
      border: solid 1px $brand-danger;
    }

    &.completed:before, .step.completed:before {
      -webkit-transform: rotateX(1170deg);
      transform: rotateX(1170deg);
    }

    &.completed:after, .step.completed:after {
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
    }


    .step {
      -webkit-flex: 1 1;
      flex: 1 1;
      position: relative;
      border-top: solid 5px $light-gray;
      color: $light-gray;
      transition: all 1s ease;

      a {
        color: $light-gray;
        text-decoration: underline;
      }
      a:hover {
        color: $text-color;
        text-decoration: none;
      }

      .step-content {
        padding: 15px 20px;
        background-color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        max-height: 108px;
        overflow: hidden;

        &:after {
          position: absolute;
          height: 10px;
          bottom:0;
          left:0;
          right:0;
          content: "";
          background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.04) 4%, rgba(255,255,255,1) 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(4%,rgba(255,255,255,0.04)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.04) 4%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.04) 4%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.04) 4%,rgba(255,255,255,1) 100%); /* IE10+ */
          background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.04) 4%,rgba(255,255,255,1) 100%); /* W3C */
        }
      }

      &.active .step-content {
        display: block;
      }

      &:hover {
        transition: all 0.5s ease;
        .step-content {
          display: block;
          left:0;
          right:0;
          z-index: 11;
          max-height: 1000px;
        }
      }
      &.active {
        -webkit-flex: 3 1;
        flex: 3 1;
        color: $text-color;
        border-top: solid 5px $brand-danger;

        .step-content {
          position: relative;
          width: auto;
        }
      }
      &.transitioned {
        .step-content {
          max-height: 1000px;
          transition: all 0.5s ease;
        }
      }

      &.completed {
        border-top: solid 5px $brand-success;
      }
    }

    .completed .step-active {
      display: none;
    }

    &.fastForward {
      transition: none;
      &:before, &:after, .step:before, .step:after, .step, .step-content {
        transition: none;
      }
    }
  }
  &.idle .codeplayer-roadmap {
    .step:hover .step-content {
      max-height: 108px !important;
    }
  }

  .codeplayer-screen-wrapper {
    position: relative;
    margin-left: 0;
  }
  .codeplayer-controls {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    padding: 4px 5px 4px 4px;
    margin-right: 0;
    margin-top: 0;
    background: #f7f7f7;
    border: solid 1px #ecf0f1;
    border-right: 0;

    .btn-group, .btn {
      width: 42px;
    }

    .btn-group > .btn {
      padding: 9px 6px;
      width: 21px;
    }

    .btn-group > .btn:first-child {
      border-right: solid 2px mix($brand-success, black, 85%);
    }

    .btn {
      font-size: 18px;
      display: block;
      margin-bottom: 5px;
      text-align: center;
      padding: 10px;
    }

    .fa-play {
      margin: 0 0 0 -1px;
    }
    .fa-pause {
      margin: 2px 0 0 -2px;
    }

    .title {
      display: none;
    }
  }

  .idle-only {
    display: none;
  }
  &.idle {
    .codeplayer-screen, .codeplayer-roadmap {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      -webkit-filter: grayscale(1) blur(1px);
      filter: alpha(opacity=50);
    }
    .idle-only {
      display: inline-block;
    }
  }
  &.idle {
    .codeplayer-roadmap {
      height:0px;
      overflow:hidden;
      @media (min-width: 768px) {
        height: auto;
        overflow: visible;
      }
    }
    .codeplayer-screen-wrapper {
      margin-left: 0;
    }
    .codeplayer-controls {
      left: 0;
      right:0;
      width: auto;
      top: 100px;
      height: 131px;
      margin-top: -70px;
      z-index: 15;
      text-align: center;
      background: transparent;
      border: none;

      .btn {
        display: none;
      }

      .hidden {
        display: none;
      }

      .codeplayer-play {
        font-size: 30px;
        padding: 20px;
        display: inline-block;
        width: auto;
        border-radius: 50px;

        @media (min-width: 768px) {
          line-height: 70px;
          font-size: 70px;
          padding: 30px;
        }

        .fa-play {
          margin: 0 0 0 15px;
        }
      }

      .codeplayer-diff, .codeplayer-compile {
        display: none;
      }
    }
  }

  .codeplayer-screen {
    margin: 0 0 0 50px;
    border: solid 1px $clouds;
    transition: 1s;
  }
  &.idle .codeplayer-screen {
    margin-left: 0;
  }
  .CodeMirror-merge {
    box-sizing: content-box;
    border: none;
    overflow: hidden;
  }
  .CodeMirror-merge, .CodeMirror-merge .CodeMirror, .CodeMirror {
    height: auto;
    min-height: 250px;
  }
  .CodeMirror-merge .CodeMirror-scroll {
    overflow-y: hidden !important;
    overflow-x: auto !important;
    min-height: 250px;
  }
  .CodeMirror-merge .CodeMirror-merge-gap {
    position: absolute;
    height: auto;
    top: 0;
    bottom: 0;
    left: 47%;
  }

  .CodeMirror-merge .CodeMirror-merge-copybuttons-left,
  .CodeMirror-merge .CodeMirror-merge-copybuttons-right {
    display: none;
  }

  .CodeMirror-merge .CodeMirror-merge-pane {
    width: 100%;
    z-index: 10;
    position: relative;
    transition: all 0.5s ease;
  }

  .CodeMirror-merge .CodeMirror-merge-pane-rightmost {
    position: absolute;
    z-index: 9;
    width: 47%;
  }
  &.diff {
    .CodeMirror-merge .CodeMirror-merge-pane {
      width: 47%;
    }
  }

  .CodeMirror-cursors, .CodeMirror-cursor {
    visibility: visible !important;
  }

  .CodeMirror-cursor {
    -webkit-animation: blinking-cursor 1s ease;
    -webkit-animation-iteration-count: infinite;
    animation: blinking-cursor 1s ease;
    animation-iteration-count: infinite;
  }
}

.CodeMirror-selected, .CodeMirror-focused .CodeMirror-selected {
  background: mix($peter-river, white, 50%);
}

.CodeMirror-merge-r-chunk, .CodeMirror-merge-l-chunk,
.CodeMirror-merge-r-chunk-start, .CodeMirror-merge-l-chunk-start
.CodeMirror-merge-r-chunk-end, .CodeMirror-merge-l-chunk-end {
  background: #dfd;
  border-bottom-color: #dfd;
  border-top-color: #dfd;
}
.CodeMirror-merge-r-inserted, .CodeMirror-merge-l-inserted {
  background: #aaffaa;
}
.CodeMirror-merge-pane-rightmost {
  .CodeMirror-merge-r-chunk, .CodeMirror-merge-l-chunk,
  .CodeMirror-merge-r-chunk-start, .CodeMirror-merge-l-chunk-start
  .CodeMirror-merge-r-chunk-end, .CodeMirror-merge-l-chunk-end {
    background: #fdd;
    border-bottom-color: #fdd;
    border-top-color: #fdd;
  }
  .CodeMirror-merge-r-deleted, .CodeMirror-merge-l-deleted {
    background: #ffaaaa;
  }
}

.codeplayer-typing-shield.active {
  position: absolute;
  left:0;
  top:0;
  right: 0;
  bottom:0;
  z-index: 10;
}

//
// Tooltip
// --------------------------------------------------

.tooltip-target {
  position: absolute;
}

.tooltip {
  cursor: pointer;

  .tooltip-inner {
    text-align: left;
    max-width: 25em;
    width: auto;
    padding: 12px;
    border-radius: 6px;
  }

  ol, ul {
    list-style-position: inside;
    padding: 0 0 0 10px;
    margin: 10px 0;
  }

  li {
    margin: 5px 0;
  }

  p:last-child, ol:last-child, ul:last-child, li:last-child {
    margin-bottom:0;
  }

  a {
    color: white;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
}

.codeplayer-controls .tooltip-inner {
  width: 25em;
}

.tooltip {
  font-family: "Helvetica Neue", Helvetica, Arial;
  &.bs-tether-target-attached-bottom .tooltip-arrow {
    border-bottom-color: $tooltip-bg;
  }
  &.bs-tether-target-attached-left .tooltip-arrow {
    border-left-color: $tooltip-bg;
  }
  &.bs-tether-target-attached-right .tooltip-arrow {
    border-right-color: $tooltip-bg;
  }
  &.bs-tether-target-attached-top .tooltip-arrow {
    border-top-color: $tooltip-bg;
  }
  .tooltip-inner {
    background-color: $tooltip-bg;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  &.bs-tether-abutted-top.bs-tether-target-attached-bottom {
    margin-top: 10px;
  }
}

.tooltip-success {
  &.bs-tether-target-attached-bottom .tooltip-arrow {
    border-bottom-color: $brand-success;
  }
  &.bs-tether-target-attached-left .tooltip-arrow {
    border-left-color: $brand-success;
  }
  &.bs-tether-target-attached-right .tooltip-arrow {
    border-right-color: $brand-success;
  }
  &.bs-tether-target-attached-top .tooltip-arrow {
    border-top-color: $brand-success;
  }
  .tooltip-inner {
    background-color: $brand-success;
  }
}

.tooltip-danger {
  &.bs-tether-target-attached-bottom .tooltip-arrow {
    border-bottom-color: $brand-danger;
  }
  &.bs-tether-target-attached-left .tooltip-arrow {
    border-left-color: $brand-danger;
  }
  &.bs-tether-target-attached-right .tooltip-arrow {
    border-right-color: $brand-danger;
  }
  &.bs-tether-target-attached-top .tooltip-arrow {
    border-top-color: $brand-danger;
  }
  .tooltip-inner {
    background-color: $brand-danger;
  }
}

.blinking {
  -webkit-animation: blinking-bg-danger 1s ease;
  -webkit-animation-iteration-count: infinite;
  animation: blinking-bg-danger 1s ease;
  animation-iteration-count: infinite;
}

@mixin blinking-bg-danger() {
  from {
    background: $btn-default-bg;
  }
  to {
    background: $brand-danger;
  }
}
@-webkit-keyframes blinking-bg-danger {
  @include blinking-bg-danger();
}
@keyframes blinking-bg-danger {
  @include blinking-bg-danger();
}

@mixin blinking-tooltip-text {
  -webkit-animation: blinking-text 1s ease;
  -webkit-animation-iteration-count: infinite;
  animation: blinking-text 1s ease;
  animation-iteration-count: infinite;
}

@-webkit-keyframes blinking-text {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes blinking-text {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

@mixin blinking-cursor() {
  0% {
    border-color: black;
  }
  100% {
    border-color: white;
  }
}
@-webkit-keyframes blinking-cursor {
  @include blinking-cursor();
}
@keyframes blinking-cursor {
  @include blinking-cursor();
}
